<footer class="bg-dark text-white pt-4 footer">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4">
                <h5>About Us</h5>
                <p class="small">
                    Assessment delivery system created by EIT.
                </p>
            </div>

            <!-- Developed by Section -->
            <div class="col-md-4">
                <h5>Developed by:</h5>
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="https://github.com/yonush"
                            class="text-white"
                            >John Jamieson</a
                        >
                    </li>
                    
                </ul>
            </div>

            <!-- User Manual Section -->
            <div class="col-md-4">
                <h5>User Manual</h5>
                <p>
                    <a href="/static/assets/ads4_manual.pdf" class="text-white"
                        >Download User Manual</a
                    >
                </p>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="bg-dark text-center py-3 mt-4">
        <p class="mb-0 small">
            &copy; 2026 ADS4. All Rights Reserved.
            <a
                href="https://github.com/yonush/ADS4"
                class="text-white ms-2"
            >
                <i class="bi bi-github"></i> View on GitHub
            </a>
        </p>
    </div>
</footer>

<!-- Include Bootstrap Icons (Optional) -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
/>
