<div id="addOfferingModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Exam Offering</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="form-control needs-validation"
                    method="POST"
                    action="/api/emergency-device"
                    id="addOfferingForm"
                    autocomplete="off"
                    novalidate
                >
                    <div class="mb-3">
                        <label for="deviceType" class="form-label"
                            >Device Type</label
                        >
                        <select
                            class="form-control form-select emergencyDeviceTypeInput"
                            aria-label="Select emergency device type"
                            name="emergency_device_type"
                            id="EmergencyDeviceTypeInput"
                            required
                        >
                            <!-- Options will be populated here -->
                        </select>
                        <div class="invalid-feedback">
                            Please select a device type.
                        </div>
                    </div>
                    <div class="mb-3 ExtinguisherTypeInputDiv d-none">
                        <label for="extinguisherType" class="form-label"
                            >Extinguisher Type</label
                        >
                        <select
                            class="form-control form-select extinguisherTypeInput"
                            id="ExtinguisherTypeInput"
                            aria-label="Select extinguisher type"
                            name="extinguisher_type"
                        >
                            <!-- Options will be populated here -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="addDeviceSite" class="form-label"
                            >Site</label
                        >
                        <select
                            class="form-control form-select siteInput"
                            aria-label="Select site"
                            required
                        >
                            <!-- Options will be populated here -->
                        </select>
                        <div class="invalid-feedback">
                            Please select a site.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addDeviceBuilding" class="form-label"
                            >Building</label
                        >
                        <select
                            class="form-control form-select buildingInput"
                            aria-label="Select building"
                            required
                        >
                            <!-- Options will be populated here -->
                            <option disabled selected>Select a Building</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a building.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="roomInput" class="form-label">Room</label>
                        <select
                            class="form-control form-select roomInput"
                            name="room_id"
                            aria-label="Select room"
                            required
                        >
                            <!-- Options will be populated here -->
                            <option disabled selected>Select a Room</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a room.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="serialNumber" class="form-label"
                            >Serial Number</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="serialNumber"
                            placeholder="Enter serial number"
                            name="serial_number"
                            pattern=".{0,50}"
                        />
                        <div class="invalid-feedback">
                            Serial number is too long, maximum 50 characters.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label"
                            >Description</label
                        >
                        <textarea
                            class="form-control descriptionInput"
                            id="description"
                            name="description"
                            rows="3"
                            placeholder="Enter description"
                        ></textarea>
                        <div class="invalid-feedback">
                            Description is too long, maximum 255 characters.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="manufactureDate" class="form-label"
                            >Manufacture Date</label
                        >
                        <input
                            type="date"
                            class="form-control manufactureDateInput"
                            id="manufactureDate"
                            name="manufacture_date"
                        />
                        <div
                            class="invalid-feedback manufactureDateFeedback"
                            id="addManufactureDateFeedback"
                        >
                            Please provide a valid manufacture date.
                        </div>
                    </div>
                    <div class="mb-3 d-none" id="ExpireDateDiv">
                        <label for="expiryDate" class="form-label"
                            >Expiry Date</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="ExpireDate"
                            name="expiry_date"
                            diabled
                        />
                    </div>
                    <div class="mb-3">
                        <label for="size" class="form-label">Size</label>
                        <input
                            type="text"
                            class="form-control"
                            id="size"
                            name="size"
                            placeholder="Enter size"
                            pattern=".{0,50}"
                        />
                        <div class="invalid-feedback">
                            Size is too long, maximum 50 characters.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <select
                            class="form-control form-select"
                            id="status"
                            name="status"
                            aria-label="Select status"
                            required
                        >
                            <option selected value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                            <option value="Expired">Expired</option>
                        </select>
                        <div class="invalid-feedback" id="statusFeedback">
                            Please select a status.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" id="addDeviceBtn" class="btn btn-primary">
                    Add Offering
                </button>
            </div>
        </div>
    </div>
</div>
