<!-- This template is for the bulk data importer in the admin panel -->
<script>
    const progressBar = document.querySelector("progress");
    progressBar.classList.remove("visible");

</script>
<div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="my-3">Bulk data importer (e.g courses.csv)</h2>
    </div>

    <div class="overflow-y-scroll" style="max-height: 50vh">
        <form class="form-control" method="POST" id="importDataForm">
            <div class="mb-3">
                <p>Select the type of data to import:</p>
                <input type="radio" id="coursedata" name="route" value="course" checked>
                <label for="coursedata" class="form-label">Courses</label><br />     

                <input type="radio" id="learnerdata" name="route" value="learner">
                <label for="learnerdata" class="form-label">Learners</label><br />     
                
                <input type="radio" id="learnerexamdata" name="route" value="learnerexam">
                <label for="learnerexamdata" class="form-label">Learner Exams</label><br />     

                <input type="radio" id="offeringdata" name="route" value="offering">
                <label for="offeringdata" class="form-label">Exam Offerings</label>     

            </div>
            <div class="mb-3">
                <label for="overwrite" class="form-label">Overwrite existing data?</label>
                <input type="checkbox" id="overwrite" name="overwrite" value="yes">
            </div>
            <div class="mb-3">
                <label for="purge" class="form-label">Purge existing data?</label>
                <input type="checkbox" id="purge" name="purge" value="yes">
            </div>
            <hr />
            <div class="mb-3">                    
                CSV data file: <input type="file" id="datafile" name="datafile" ><br><br>
                <p><progress></progress></p>
                <p><output></output></p>
                <button type="button" class="btn btn-primary" onclick="btnImport()">Import Data</button>
                <button class="btn btn-danger" disabled id="abort">Abort</button>
            
            </div>
        </form>
    </div>
</div>

