<!-- This template is used to display the list of users in the admin panel. -->
<div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="my-3">Manage Users</h2>
        <button
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addUserModal"
            onclick="AddUser()"
        >
            Add User <i class="fa fa-plus"></i>
        </button>        
    </div>

    <div class="overflow-y-scroll" style="max-height: 50vh">
        <table class="table table-striped" id="users-table">
            <thead class="table-secondary">
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Existing users will be populated here -->
            </tbody>
        </table>
    </div>
</div>
